body {
    background: url(../../assets/background-white.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: #000;
}