body {
    background: url(../../assets/background-white.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

input.searchbar-input {
    width: 95%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px 0px;
    border-radius: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto auto;
}

.manga-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 250px;
    height: 360px;
    padding: 10px 20px;
    background-color: #888;
    border-radius: 12px;
}

.manga-image {
    margin: 2%;
    border-radius: 13px;
    width: 200px;
    height: 320px;
    display: flex;
}

.manga-title {
    text-align: center;
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.manga-container:hover {
    background-color: #aaa;
    cursor: pointer;
}

.manga-container:hover .manga-image {
    background-color: #aaa;
    cursor: pointer;
}

.manga-container:hover .manga-title {
    background-color: #aaa;
    cursor: pointer;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

select  {
    width: 20%;
    height: 50px;
    border: 1px solid #000;
    font-size: 20px;
    margin: 5px 0px;
    border-radius: 12px;
}

.searchbar-select {
    width: 30%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px 0px;
    border-radius: 12px;
}

.params {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: auto auto;
}

.lds-default {
    margin-top: 15%;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }

  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }