body {
    background: url(../assets/background-white.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;;
}

div.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

div.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

div.box {
    background-color: #9E9E9E;
    border-radius: 13px;
}

div.manga-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input {
    margin: 10px;
    border-radius: 13px;
    border: none;
    padding: 10px;
    font-size: 15px;
}

button {
    margin: 10px;
    border-radius: 13px;
    border: none;
    padding: 10px;
    font-size: 15px;
    background-color: #726f6f;
    color: white;
}

button:hover {
    filter: brightness(0.85);
}

div.carrousel-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
}

div.manga-list {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 90%;
    animation: slide 5000s linear infinite;
}

div.manga-button {
    width: 200px;
    height: 170px;
    margin: 15px;
    background-color: #9E9E9E;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

img.manga-image {
    margin: 2%;
    border-radius: 13px;
    width: 100px;
    height: 160px;
    display: flex;
}

div.manga-info {
    width: 95px;
    display: flex;
    flex-direction: column;
}

div.manga-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.manga-button:hover {
    filter: brightness(0.85);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    
}