body {
    background: url(assets/background-white.jpeg);
    width: 500px;
    height: 550px;
    text-align: center;
    align-items: center;
    overflow-y: scroll;
}

button {
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
    margin: 15px;
}

input {
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: medium;
}

.scroll-bar {
    text-align: center;
    overflow-y: auto;
    height: 350px;
    justify-content: space-between;
}

button:hover {
    filter: brightness(0.85);
}

.github {
    background-color: #9E9E9E;
    border-radius: 13px;
}

div.manga-button {
    width: 200px;
    display: inline-table;
    margin: 15px;
    background-color: #9E9E9E;
    border-radius: 13px;
}

div.manga-button:hover {
    filter: brightness(0.85);
}

img.manga-image {
    margin: 2%;
    border-radius: 13px;
    width: 50%;
    height: 50%;
}

div.manga-title {
    
}
