body {
    background: url(assets/background-white.jpeg);
    width: 500px;
    height: 550px;
    text-align: center;
    align-items: center;
    overflow-y: scroll;
}

button {
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
    margin: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}

input {
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: medium;
}

.scroll-bar {
    text-align: center;
    overflow-y: auto;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button:hover {
    filter: brightness(0.85);
}

.github {
    background-color: #9E9E9E;
    border-radius: 13px;
}

div.manga-button {
    width: 200px;
    height: 170px;
    margin: 15px;
    background-color: #9E9E9E;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.manga-button:hover {
    filter: brightness(0.85);
}

img.manga-image {
    margin: 2%;
    border-radius: 13px;
    width: 100px;
    height: 160px;
    display: flex;
}

div.manga-info {
    width: 95px;
    display: flex;
    flex-direction: column;
}

div.manga-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Size */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
